# fly.toml app configuration file generated for fastapi-blog-app on 2025-11-23T22:45:10Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'fastapi-blog-app'
primary_region = 'lhr'

[build]

[env]
  PORT = '8000'

[[mounts]]
  source = 'app_data'
  destination = '/workspace/app_data'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
